@{
    ViewData["Title"] = "ErrorPage";
}

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <h2>@TempData["Error"]</h2>
    </div>
}
else
{
    <h1>Something went wrong.</h1>
}
