@using X.PagedList.Mvc.Core
@model SocialPhotoAppMVC.ViewModels.SearchUserVM
@{
    ViewData["Title"] = "Search Users";
}
<form method="post" asp-action="SearchUsers" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="NickName">NickName</label>
        <input asp-for="NickName" class="form-control" placeholder="NickName">
        <span asp-validation-for="NickName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
