@using SocialPhotoAppMVC.ViewModels
@model CreateCommentVM
@{
    ViewData["Title"] = "CreateComment";
}

<div class="w-75 m-auto mt-3">
    <form method="post" asp-action="CreateComment" enctype="multipart/form-data" class="h-50">
        <div class="form-group">
            <label asp-for="Text">Comment</label>
            <input asp-for="Text" class="form-control" placeholder="Add a comment about this photo">
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="UserId" name="UserId" />
        <input type="hidden" asp-for="PhotoId" name="PhotoId" />
        <button type="submit" class="btn btn-dark mt-3">Create comment</button>
    </form>
</div>